EMAIL_API_URL=
EMAIL_API_SECRET=
EMAIL_FROM=
CONTACT_TO=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
TURNSTILE_ALLOWED_HOSTNAMES=
ASSISTANT_PROVIDER=
OLLAMA_BASE_URL=
OLLAMA_MODEL=
BEDROCK_REGION=
BEDROCK_MODEL_ID=
ASSISTANT_PROVIDER=
BEDROCK_REGION=
BEDROCK_MODEL_ID=
